!!! 5
%html
  %head
    %link(rel="stylesheet" href="/css/style.css")
    %link(href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold' rel='stylesheet' type='text/css')

    %title Pasta
  %body
    #mainPasta
      %h1 Pasta
      %form{:method => "post"}
        %input{:name => "title", :class => "text", :placeholder => "Title"}
        %input{:name => "author", :class => "text", :placeholder => "Author"}
        %select{:name => "language", :class => "native"}
          %option plain_text
          %option actionscript
          %option active4d
          %option active4d_html
          %option active4d_ini
          %option active4d_library
          %option ada
          %option antlr
          %option apache
          %option applescript
          %option asp
          %option asp_vb.net
          %option bash
          %option bibtex
          %option blog_html
          %option blog_markdown
          %option blog_text
          %option blog_textile
          %option build
          %option bulletin_board
          %option c
          %option c++
          %option cake
          %option camlp4
          %option cm
          %option coldfusion
          %option context_free
          %option cs
          %option css
          %option css_experimental
          %option csv
          %option d
          %option diff
          %option dokuwiki
          %option dot
          %option doxygen
          %option dylan
          %option eiffel
          %option erlang
          %option f-script
          %option fortran
          %option fxscript
          %option greasemonkey
          %option gri
          %option groovy
          %option gtd
          %option gtdalt
          %option haml
          %option haskell
          %option html
          %option html-asp
          %option html_django
          %option html_for_asp.net
          %option html_mason
          %option html_rails
          %option html_tcl
          %option icalendar
          %option inform
          %option ini
          %option installer_distribution_script
          %option io
          %option java
          %option javaproperties
          %option javascript
          %option javascript_+_prototype
          %option javascript_+_prototype_bracketed
          %option jquery_javascript
          %option json
          %option languagedefinition
          %option latex
          %option latex_beamer
          %option latex_log
          %option latex_memoir
          %option lexflex
          %option lighttpd
          %option lilypond
          %option lisp
          %option literate_haskell
          %option logo
          %option logtalk
          %option lua
          %option m
          %option macports_portfile
          %option mail
          %option makefile
          %option man
          %option markdown
          %option mediawiki
          %option mel
          %option mips
          %option mod_perl
          %option modula-3
          %option moinmoin
          %option mootools
          %option movable_type
          %option multimarkdown
          %option objective-c
          %option objective-c++
          %option ocaml
          %option ocamllex
          %option ocamlyacc
          %option opengl
          %option pascal
          %option perl
          %option php
          %option pmwiki
          %option postscript
          %option processing
          %option prolog
          %option property_list
          %option python
          %option python_django
          %option qmake_project
          %option qt_c++
          %option quake3_config
          %option r
          %option r_console
          %option ragel
          %option rd_r_documentation
          %option regexp
          %option regular_expressions_oniguruma
          %option regular_expressions_python
          %option release_notes
          %option remind
          %option restructuredtext
          %option rez
          %option ruby
          %option ruby_experimental
          %option ruby_on_rails
          %option s5
          %option scheme
          %option scilab
          %option setext
          %option shell-unix-generic
          %option slate
          %option smarty
          %option sql
          %option sql_rails
          %option ssh-config
          %option standard_ml
          %option strings_file
          %option subversion_commit_message
          %option sweave
          %option swig
          %option tcl
          %option template_toolkit
          %option tex
          %option tex_math
          %option textile
          %option tsv
          %option twiki
          %option txt2tags
          %option vectorscript
          %option xhtml_1.0
          %option xml
          %option xml_strict
          %option xsl
          %option yaml
          %option yui_javascript
        %br    
        %textarea{:name => "body", :class => "text", :placeholder => "Paste text here...", :cols => "80", :rows => "20", :id => "code"}(required)
        %br
        %input{:type => "submit", :class => "native",  :value => "Paste"}
        %br
        .downloadhere
          Download the command line client
          %a(href="/onwavpaste")= "here!"
        %h2 Recent Pastes:
        - @pastes.each do |p|
          %div.pastestub
            %a(href="/#{p.id}" class="name")= "#{p.title}"
            %br
            #{p.author}

